<div class="container">
  <h3> Promise data : {{ promise | async | uppercase }}</h3>

  <h4>Contact Number : {{ contact_no | countrycode }} </h4>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
      <select class="form-control"
        [(ngModel)] = "filteredStatus">
        <option value="done">Done</option>
        <option value="pending">Pending</option>
      </select>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <button class="btn btn-block btn-primary" (click) = "onAddNewTodo()">
        Add New Todo
      </button>
    </div>
  </div>
  <hr>
  <ul class="list-unstyled list-group">
    <li class="list-group-item"
      *ngFor="let todo of todos | filter : filteredStatus">
      {{ todo.label | uppercase }}
      <span class="badge"> {{todo.status  }} </span>
    </li>
  </ul>

</div>
