<div class="container">

  <div class="row">
    <div class="col-md-10 col-sm-10 col-xs10">
        <app-header></app-header>
    </div>
    <div class="col-md-2 col-sm-2 col-xs2" *ngIf="authService.isAuthenticated()">
      <button class="btn btn-sm btn-block btn-danger">
        Logout
      </button>
    </div>
  </div>
  <br>

  Interpolation : {{ htmlSnippets }}
  <br>
  Binding : <span [innerHTML] = "htmlSnippets"></span>

  <br>

  Danger Url : <a [href]="dangerUrl">Danger URL </a> <br>
  Safe Url : <a [href]="safeUrl">Safe URL</a>

  <hr>

  <h2 class="text-center text-primary">My Awesome App</h2>
  <hr>
  <router-outlet></router-outlet>
</div>

<!-- <app-login></app-login>
<app-register></app-register> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <hr> -->

<!-- <div *ngIf="authService.isAuthenticated()">
  <app-users [title] = "title"></app-users>
</div>
 -->
